{# page.php #}

{% extends 'Layouts/base.twig' %}

{% block content %}

  <section>
    <header>
      <div>
        <img src="{{theme.link}}/assets/img/logo.svg" class="KBCRAWL-logo">
        <a href="#"><p>Intelligence économique</p></a>
        <a href="#"><p>Enjeux</p></a>
        <a href="#"><p>Solutions</p></a>
        <a href="#"><p>Qui sommes nous</p></a>
        <a href="#"><p>Blog</p></a>
        <a href="#"><p>Contact</p></a>
        <div class="Rectangle"><p>Demander une demo</p></div>
        <div><p>FR</p><img src="{{theme.link}}/assets/img/dropdown.svg" class="dropdown-langue"></div>
      </div>
    </header>
  </section>

  <section class="section1">
    <div>
      <div>
        <h1 class="Exploitez-enfin-tout">Exploitez enfin toutes<br> les ressources digitales</h1>
        <h2 class="Solutions-et-outils">Solutions et outils de veille sur-mesure<br> pour professionnels</h2>
      </div>
      <div class="img">
        <img src="{{theme.link}}/assets/img/illu-principal.png" class="illu-principale">
      </div>
    </div>
  </section>


  <section class="section2">
    <div class="imgback">
      <center><img src="{{theme.link}}/assets/img/groupe-13.svg" class="Group-13"></center>
      <div class="div1">
        <div class="textleft">
          <h2>L’intelligence <br> économique</h2>
        </div>
        <div class="textright">
          <p class="Tirez-le-meilleur-pa">Tirez le meilleur parti d’une<br> information colossale</p>
          <p class="LIntelligence-cono">Envie d’en savoir plus sur les opportunités qui s’offrent à vous<br> et les menaces auxquelles vous pourrez être confronté ?</p>
          <p class="LIntelligence-cono">L’Intelligence économique vous permet d’appréhender au<br>mieux votre environnement et d’anticiper les évolutions dans<br> les domaines clés : marché, innovation, réglementation, digital,<br> territoire, stratégie, etc.</p>
        </div>
      </div>
      <div class="div2">
        <div>
          <p class="Crawler">Crawler</p>
          <p class="Surveillez-tout-ce-q">Surveillez tout ce que<br>vous souhaitez, en continu</p>
          <p class="Solutions-dautomati">Solutions d’automatisation de la collecte et du<br> traitement de vos sources d’informations.</p>
          <div class="Rectangle-Copy"><p class="Dcouvrir-Crawler">Découvrir crawler</p></div>
        </div>
        <div class="img">
          <img src="{{theme.link}}/assets/img/crawler.PNG" class="crawler">
        </div>
      </div>
    </div>
  </section>

  <section class="section3">
    <div>
      <div class="img">
        <img src="{{theme.link}}/assets/img/bitmap.PNG" class="crawler">
      </div>
      <div class="text">
        <p class="Pilot">Pilot</p>
        <p class="Transformez-linform">Transformez l’information<br> en données exploitables</p>
        <p class="Solution-denrichiss">Solution d’enrichissement, de modélisation et<br> de classement de contenus.  </p>
        <div class="Rectangle-Copy"><p class="Dcouvrir-Pilot">Découvrir Pilot</p></div>
      </div>
    </div>
  </section>

  <section class="section4">
    <div>
      <div class="text">
        <p class="Pilot">Platform</p>
        <p class="Transformez-linform">Pour chacun, la bonne info,<br>au bon format, au bon moment</p>
        <p class="Solution-denrichiss">Solution de diffusion d’informations et<br> d’aide à la décision.</p>
        <div class="Rectangle-Copy"><p class="Dcouvrir-Pilot">Découvrir Platform</p></div>
      </div>
      <div class="img">
        <img src="{{theme.link}}/assets/img/bitmap2.PNG" class="crawler">
      </div>
    </div>
  </section>

  <section class="section5">
    <div class="imgback">
      <div>
        <h2>Nos solutions sont parfaites pour</h2>
        <div>
          <div>
            <img src="{{theme.link}}/assets/img/tescontent.png" class="tescontent">
            <p class="Dirigeant-dentrepri">Dirigeant d’entreprise</p>
            <p class="Envie-den-savoir-pl">Lorem ipsum dolor amet valem<br> setum dolor vale oler sole batum<br> duneil. Lorem ipsum dolor</p>
          </div>
          <div>
            <img src="{{theme.link}}/assets/img/tescontent.png" class="tescontent">
            <p class="Dirigeant-dentrepri">Département marketing</p>
            <p class="Envie-den-savoir-pl">Lorem ipsum dolor amet valem<br> setum dolor vale oler sole batum<br> duneil. Lorem ipsum dolor</p>
          </div>
          <div>
            <img src="{{theme.link}}/assets/img/tescontent.png" class="tescontent">
            <p class="Dirigeant-dentrepri">Département juridique</p>
            <p class="Envie-den-savoir-pl">Lorem ipsum dolor amet valem<br> setum dolor vale oler sole batum<br> duneil. Lorem ipsum dolor</p>
          </div>
        </div>
        <div>
          <div>
            <img src="{{theme.link}}/assets/img/tescontent.png" class="tescontent">
            <p class="Dirigeant-dentrepri">Dirigeant d’entreprise</p>
            <p class="Envie-den-savoir-pl">Lorem ipsum dolor amet valem<br> setum dolor vale oler sole batum<br> duneil. Lorem ipsum dolor</p>
          </div>
          <div>
            <img src="{{theme.link}}/assets/img/tescontent.png" class="tescontent">
            <p class="Dirigeant-dentrepri">Département marketing</p>
            <p class="Envie-den-savoir-pl">Lorem ipsum dolor amet valem<br> setum dolor vale oler sole batum<br> duneil. Lorem ipsum dolor</p>
          </div>
          <div>
            <img src="{{theme.link}}/assets/img/tescontent.png" class="tescontent">
            <p class="Dirigeant-dentrepri">Département juridique</p>
            <p class="Envie-den-savoir-pl">Lorem ipsum dolor amet valem<br> setum dolor vale oler sole batum<br> duneil. Lorem ipsum dolor</p>
          </div>
        </div>
      </div>
      <div class="conf">
        <h2 class="Ils-nous-font-confia">Ils nous font<br> confiance</h2>
        <div class="Combined-Shape">
          <div style="margin-top: 0rem">
            <img src="{{theme.link}}/assets/img/temoignage-1.png" class="temoignage1">
          </div>
          <div style="margin-top: 0rem">
            <p class="Lorem-ipsum-dolor-am ">Lorem ipsum dolor amet valem setum dolor vale <br>oler sole batum duneil. Lorem ipsum dolor amet<br> valem setum dolor vale oler sole batum duneil.</p>
            <p class="Sarah-Connor-direct">Sarah Connor, directrice innovation </p>
            <img src="{{theme.link}}/assets/img/google.png" class="google">
          </div>
        </div>
      </div>
      <div class="bout">
        <div class="Oval"></div>
        <div class="Oval2"></div>
        <div class="Oval2"></div>
      </div>
    </div>
  </section>

  <section class="section6">
    <h2>Le Blog</h2>
    <div>
      <div>
        <img src="{{theme.link}}/assets/img/image1.PNG" class="img">
        <p class="La-veille-collaborat">La veille collaborative : l’avenir de la<br> veille en entreprise ?</p>
        <p class="FEV-2019">12 FEV 2019</p>
      </div>
      <div>
        <img src="{{theme.link}}/assets/img/image2.PNG" class="img">
        <p class="La-veille-collaborat">La veille collaborative : l’avenir de la<br> veille en entreprise ?</p>
        <p class="FEV-2019">12 FEV 2019</p>
      </div>
      <div>
        <img src="{{theme.link}}/assets/img/image3.PNG" class="img">
        <p class="La-veille-collaborat">La veille collaborative : l’avenir de la<br> veille en entreprise ?</p>
        <p class="FEV-2019">12 FEV 2019</p>
      </div>
    </div>
    <center><div class="Rectangle"><p>Plus d'articles</p></div><center>
  </section>

  <footer>
    <diV>
      <div class="haut">
        <img src="{{theme.link}}/assets/img/logo.svg" class="KBCRAWL-logo">
        <ul>Contact
          <li>Lorem ipsum</li>
          <li>Dolor amet</li>
          <li>Valem setum</li>
          <li>Uller Sole</li>
        </ul>
        <ul>Vos enjeux
          <li>Lorem ipsum</li>
          <li>Dolor amet</li>
          <li>Valem setum</li>
          <li>Uller Sole</li>
        </ul>
        <ul>Nos solutions
          <li>Lorem ipsum</li>
          <li>Dolor amet</li>
          <li>Valem setum</li>
          <li>Uller Sole</li>
        </ul>
        <ul>Newsletter
          <form>
            <input type="email" placeholder="Votre email">
            <img src="{{theme.link}}/assets/img/next.png" class="fleche">
          </form>
        </ul>
      </div>
      <hr class="hr">
      <div class="bas">
        <div class="gauche">
          <p>Plan du site</p>
          <p>Mentions légales</p>
        </div>
        <div class="droit">
          <img src="{{theme.link}}/assets/img/linkedin-font-awesome.png" class="ico">
          <img src="{{theme.link}}/assets/img/facebook-font-awesome.png" class="ico">
          <img src="{{theme.link}}/assets/img/twitter-font-awesome.png" class="ico">
        </div>
      </div>
    </diV>
  </footer>
{% endblock %}
